.song-container {
  text-align: left;
  background-color: rgba(15, 130, 87, 0.44);
  color: white;
  box-sizing: border-box;
  max-width: 30em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 0.7em;
  transition: 0.2s ease-in-out;

  .song-item {
    padding: 2.5% 9% 4%;
  }

  .song-player {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5em;
  }

  h2 {
    margin: 0;
    line-height: 0.9em;
    font-size: 0.9em;
    color: #2f2929;
  }

  img {
    width: 5em;
    border-radius: 0.7em;
  }

  audio {
    width: 100%;
    max-width: 19em;
  }

  .song-footer {
    font-size: 0.7em;
    font-weight: 700;
    border-radius: 0 0 0.7em 0.7em;
    background-color: rgba(47, 41, 41, 0.7);
    padding: 2.5% 9%;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.song-container-enter-active,
.song-container-exit-active {
  transition: all 0.2s;
}

.song-container-enter {
  opacity: 0;
  transform: scale(0.75);
}

.song-container-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.song-container-exit {
  opacity: 1;
}

.song-container-exit-active {
  opacity: 0;
  transform: scale(0.75);
}
