.navbar {
  overflow: hidden;
  background-color: #0f8257;
  //margin: 2em auto 2.5em;
  //padding: 1%;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;

  a {
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 1%;
    font-size: 17px;
    font-weight: bold;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: #126a49;
      transform: scale(1.2);
    }

    &.active {
      background-color: white;
      color: #2f2929;
    }
  }
}