.App {
  text-align: center;
}

//header {
//  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
//  margin-bottom: 1em;
//}

.content {
  font-size: 1.5em;
  line-height: 1.15em;
  // padding: 1.5em 1.75em;
  padding: 5em 10em 0;
}